#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_memorycoin
#build/memorycoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_memorycoin)

DEB_INSTALL_EXAMPLES_memorycoind += debian/examples/*
DEB_INSTALL_MANPAGES_memorycoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix memorycoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f memorycoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake memorycoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_memorycoin
	src/test_memorycoin

# Ensure wrapper is set executable
binary-post-install/memorycoind:
	chmod +x $(cdbs_curdestdir)usr/bin/memorycoind
binary-post-install/memorycoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/memorycoin-qt
